[submodule ".config/.nvim"]
	path = .config/.nvim
	url = git@github.com:Leherguargin/kickstart.nvim.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Leherguargin/kickstart.nvim.git
